 NET "Rst"       LOC = "B8";
 NET "Clk100Mhz" LOC = "V10";
 NET "Seg<7>"    LOC = "M13";
 NET "Seg<6>"    LOC = "L14"; 
 NET "Seg<5>"    LOC = "N14";
 NET "Seg<4>"    LOC = "M14";
 NET "Seg<3>"    LOC = "U18";
 NET "Seg<2>"    LOC = "U17";
 NET "Seg<1>"    LOC = "T18";
 NET "Seg<0>"    LOC = "T17";
 NET "Disp<3>"   LOC = "P17";
 NET "Disp<2>"   LOC = "P18";
 NET "Disp<1>"   LOC = "N15";
 NET "Disp<0>"   LOC = "N16"; 
 NET "Input"     LOC = "N10";
 NET "Output"    LOC = "P11";